<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  	<div class="container">
    <h1> {{name}} You will have a group to have dinner on {{date}}</h1>
</div>

    <div class="container">

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Step1</h1>
    <p class="lead">Contact your your group on ... they live in ... area You will recieve an email with teir contacts when the match is made</p>
  </div>
</div>

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Step 2</h1>
    <p class="lead">Decide who is bringing what for shabbat night dinner</p>
  </div>
</div>

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Step 3</h1>
    <p class="lead">Enjoy and send your experiances or picutres to our facebook page her-->  </p>
  </div>
</div>
</div>


  </body>
</html>
